<!-- TODO: Factor out new and join elements into partials -->
<!--
<div class="new_creation">
  <h2><%= link_to "New Creation!", new_camp_path %></h2>
</div>
-->


<!-- FYI, current_user is automagically supplied by Devise.... -->
<!--
<div class="join_creation">
  <h2><%= button_to "Join Creation!", {action: "join", user: current_user }%></h2>
</div>
-->

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="header-heading"><%= @camp.name %></h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("test2.jpg") %>
            <div class="carousel-caption">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag("test1.jpg") %>
            <div class="carousel-caption">
              The cyborg does not dream of community on the model of the organic family, this time without the oedipal project. The cyborg would not recognize the Garden of Eden; it is not made of mud and cannot dream of returning to dust.
            </div>
          </div>
          <div class="item">
            <%= image_tag("test3.png") %>
            <div class="carousel-caption">
              Another caption, shorter this time.
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="camp-description">
        <b>Creation description</b>
        <p><%= @camp.description %></p>
      </div>

      <div class="camp-description">
        <b>What can I do to help?</b>
        <p><%= @camp.camp_necessities %></p>
      </div>

      <div class="camp-description">
        <b>Safety Details</b>
        <p><%= @camp.safety_risks %></p>
      </div>      

    </div>

    <div class="col-md-3">

     <% if !user_signed_in? %>
     <div class="panel panel-default">
      <div class="panel-heading">What is this?</div>
      <div class="panel-body">
        <p>Congratulations! You've stumbled upon something special.
          Welcome to the Bizaar Star Bazaar, is a festival where all content is created by the participants themselves. It is a part of a network of regional events connected to the Burning Man festival in Black Rock, Nevada. The festival will be held in Stockholm, Sweden from March 11th to March 13th. Get your ticket to the Bazaar here!</p>
        </div>
      </div>
      <% end %>

      <div class="creation-info">
        <ul>
          <li><span><h2 class="header-sub-heading">Creation info</h2></span></li>
          <li><span><a href="<%= edit_camp_path(@camp) %>">Edit creation</a></span></li>
	  <br>
          <li><span><a href="<%= camp_images_path(@camp) %>">Manage images</a></span></li>
          <br>
          <li><span><b>Contact Name:</b> <%= @camp.contact_name %></span></li>
          <li><span><b>Contact Email:</b> <%= @camp.contact_email %></span></li>
          <li><span><b>Seeking co-creators:</b> <%= @camp.seeking_members %></span></li>
          <br>
          <li><span><b>Size of Space:</b> <%= @camp.size_of_necessary_space %></span></li>
          <li><span><b>Noise Level:</b> <%= @camp.noise_level %></span></li>
          <li><span><b>Seeking art grant:</b> <%= @camp.needs_art_grant %></span></li>
          <li><span><b>Number of co-creators:</b> <%= @camp.needs_art_grant %></span></li>
          <br>
          <!-- <li><span><b>Members:</b></span>
          <% @users.each do |user| %>
          <%= user.email %>, 
          </li>
          <% end %>
          -->
        </div>

      </div>

    </div>

  </div>
