<!DOCTYPE html>
<html>
<head>
  <title>Crewengine</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><a class="header-heading" href="/">The Creations Page!</a></h1>
    <div class="header-container">
      <div class="header-desc">Lorem ipsum</div>
      <div class="header-nav">
        <a href="/">Main page</a>
        <% if !user_signed_in? %>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
        <% if !user_signed_in? %>
          <a href="/log-in-fb">Log in with Facebook</a>
        <% end %>
        <% if !user_signed_in? %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="main_content">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>

  <footer>

  </footer>
</body>
</html>
