<!DOCTYPE html>
<html>
<head>
  <title>Crewengine</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Share' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><a class="header-heading" href="/">BIZARRE STAR BAZAAR CREATIONS</a></h1>
    <h2 class="header-sub-heading">Urban Burn Stockholm</h2>
    <div class="header-container">
      <div class="header-nav">
        <a href="/">Main page</a>
        <% if !user_signed_in? %>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
        <% if !user_signed_in? %>
          <a href="/log-in-fb">Log in with Facebook</a>
        <% end %>
        <% if !user_signed_in? %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="main_content">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>

  <footer>

  </footer>
</body>
</html>
